@charset "UTF-8";
@font-face {
  font-family: "﻿ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Light.ttf");
}
body, div, p, h1, h2, h3, a, ul {
  margin: 0;
  padding: 0;
  font-family: "﻿ProximaNova";
}

a {
  text-decoration: none;
}

p {
  line-height: 1.8;
  font-size: 18px;
}

h2, h3 {
  font-weight: normal;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.learn {
  height: 25px;
  width: 90px;
  margin-top: 40px;
  border-radius: 20px;
  font-size: 11px;
  color: #fff;
}

.button__color {
  background-color: #17daa3;
  border: none;
}
.button__color:hover {
  background-color: #68efc9;
}

.slick-prev:before {
  content: url("../img/arrow-left.svg") !important;
}

.slick-next:before {
  content: url("../img/arrow-right.svg") !important;
}

.block_header h2 {
  font-size: 50px;
  padding-top: 50px;
  text-align: center;
}
.block_header hr {
  width: 30px;
  height: 1px;
  margin-top: 20px;
  border: none;
  background-color: #17daa3;
}
.block_header p {
  margin-top: 20px;
  text-align: center;
}

.block_1 {
  background: url(../img/background.png) no-repeat;
  background-size: 100% 100%;
  height: 534px;
  color: #fff;
}
.block_1 .header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block_1 .header .menu {
  display: flex;
}
.block_1 .header .menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.block_1 .header .menu ul li {
  margin-right: 25px;
}
.block_1 .header .menu ul li a {
  color: #fff;
  font-size: 14px;
}
.block_1 .slider-item {
  margin: 150px 0;
  text-align: center;
}
.block_1 .slider h2 {
  font-size: 50px;
}
.block_1 .slider p {
  margin-top: 15px;
  text-align: center;
}
.block_1 .slider .learn {
  background: transparent;
  border: 1px solid #fff;
}
.block_1 .slider .learn:hover {
  background: lightgrey;
  color: grey;
}

.block_2 {
  color: grey;
}
.block_2 .container {
  text-align: center;
}
.block_2 .about {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}
.block_2 .about_item {
  margin-right: 20px;
}
.block_2 .about_item div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-color: #edeff1;
  border-radius: 50%;
}
.block_2 .about_item:nth-child(2) div {
  background-color: #17daa3;
}
.block_2 .about_item p {
  margin-top: 30px;
}
.block_2 .about_item p:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
}

.block_3 {
  color: grey;
}
.block_3 .block_3_item_1 {
  background-color: #f9f9fa;
  margin-top: 30px;
}
.block_3 .container {
  display: flex;
}
.block_3 .container div {
  width: 50%;
  padding: 60px 0;
}
.block_3 .container h2 {
  font-size: 60px;
}
.block_3 .container p {
  margin-top: 30px;
}

.block_4 {
  background: url(../img/background2.png) no-repeat;
  background-size: 100% 100%;
  height: 400px;
  color: #fff;
}
.block_4 .slider-item {
  padding: 100px 0;
  text-align: center;
}
.block_4 .slider-item img {
  margin: 0 auto;
}
.block_4 .slider-item p:nth-child(2) {
  font-size: 30px;
  margin-top: 20px;
}
.block_4 .slider-item p:nth-child(2) span {
  color: #17daa3;
}
.block_4 .slider-item p:nth-child(3) {
  margin-top: 18px;
  text-align: center;
  color: grey;
}

.block_5 {
  background-color: #f9f9fa;
  color: grey;
}
.block_5 .container {
  text-align: center;
}
.block_5 .services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  text-align: left;
  padding: 80px 0 50px 0;
}
.block_5 .services_item {
  display: flex;
}
.block_5 .services_item div:first-child {
  width: 70px;
  min-width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block_5 .services_item div {
  margin-right: 30px;
}
.block_5 .services_item h3 {
  font-size: 60px;
}
.block_5 .services_item p {
  margin: 20px 0 40px 0;
}

.block_6 {
  color: grey;
}
.block_6 .container {
  text-align: center;
}
.block_6 .members {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2;
}
.block_6 .members_item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 200px;
}
.block_6 .members_item:nth-child(2n-1) {
  background-color: #e4e4e4;
}
.block_6 .members_item:nth-child(2), .block_6 .members_item:nth-child(4) {
  background-color: #f9f9fa;
}
.block_6 .members_item:nth-child(6), .block_6 .members_item:nth-child(8), .block_6 .members_item:nth-child(10) {
  background-color: #efefef;
}
.block_6 .members_item:nth-child(7) {
  background-color: #17daa3;
}
.block_6 .members_item p {
  font-size: 36px;
}

.block_7 {
  color: grey;
  background-color: #f9f9fa;
  padding-bottom: 50px;
}
.block_7 .price {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.block_7 .price_item {
  background-color: #fff;
  width: 22%;
}
.block_7 .price_item_header {
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}
.block_7 .price_item_header p:first-child {
  color: #17daa3;
  font-size: 30px;
}
.block_7 .price_item_header p:last-child {
  color: lightgrey;
}
.block_7 .price_item_description {
  padding: 20px;
  line-height: 1.5;
}
.block_7 .price_item button {
  width: 100%;
  height: 45px;
  border-radius: 0px;
  border: none;
  background-color: #17daa3;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: left;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.block_8 {
  display: flex;
  color: grey;
}
.block_8 div {
  width: 50%;
  padding: 70px 0;
}
.block_8 .map_description {
  margin-left: 10%;
}
.block_8 .map_description h3 {
  font-size: 50px;
}
.block_8 .map_description p {
  margin-top: 50px;
}
.block_8 .map img {
  width: 100%;
}

.block_9 {
  background: url(../img/background3.png) no-repeat;
  background-size: 100% 100%;
  height: 500px;
  color: #fff;
}
.block_9 .container {
  padding-top: 200px;
  text-align: center;
}
.block_9 .container h1 {
  font-size: 50px;
  font-weight: normal;
}

.block_10 {
  background: url(../img/letter.png) no-repeat;
  background-size: auto 400px;
  background-position: top;
  height: 500px;
  color: grey;
}
.block_10 .header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block_10 .header div {
  display: flex;
  align-items: center;
}
.block_10 .header div p {
  margin-left: 10px;
}
.block_10 .header .menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block_10 .header .menu ul li {
  margin-right: 25px;
  color: lightgrey;
  font-size: 18px;
}
.block_10 .header .menu ul li:first-child {
  color: grey;
  font-weight: bold;
}
.block_10 .header .menu ul li a {
  color: #fff;
  font-size: 11px;
}

/*# sourceMappingURL=main.css.map */
