@import "colors"
@import "fonts"

body, div, p, h1, h2, h3, a, ul
	margin: 0
	padding: 0
	font-family: "﻿ProximaNova"
a
	text-decoration: none
p
	line-height: 1.8
	font-size: 18px
h2, h3
	font-weight: normal
.container
	width: 80vw
	margin: 0 auto
.learn
	height: 25px
	width: 90px
	margin-top: 40px
	border-radius: 20px
	font-size: 11px
	color: $light
.button__color
	background-color: $color
	border: none
	&:hover
		background-color: lighten($color, 20%)
.slick-prev:before
	content: url("../img/arrow-left.svg")!important
.slick-next:before
	content: url("../img/arrow-right.svg")!important
.block_header
	h2
		font-size: 50px
		padding-top: 50px
		text-align: center
	hr
		width: 30px
		height: 1px
		margin-top: 20px
		border: none
		background-color: $color
	p
		margin-top: 20px
		text-align: center
.block_1
	background: url(../img/background.png) no-repeat
	background-size: 100% 100%
	height: 534px
	color: $light
	.header
		padding-top: 30px
		display: flex
		align-items: center
		justify-content: space-between
		.menu
			display: flex
			ul 
				list-style: none
				display: flex
				align-items: center
				justify-content: center
				text-transform: uppercase
				li
					margin-right: 25px
					a
						color: $light
						font-size: 14px
	.slider
		&-item
			margin: 150px 0
			text-align: center
		h2
			font-size: 50px
		p
			margin-top: 15px
			text-align: center
		.learn
			background: transparent
			border: 1px solid $light
			&:hover
				background: lightgrey
				color: $text
.block_2
	color: $text
	.container
		text-align: center
	.about
		display: flex
		margin-top: 70px
		justify-content: space-between
		&_item
			margin-right: 20px
			div
				display: flex
				justify-content: center
				align-items: center
				margin: 0 auto
				width: 90px
				height: 90px
				background-color: $main
				border-radius: 50%
			&:nth-child(2) div
				background-color: $color
			p
				margin-top: 30px
			p:nth-child(2)
				font-size: 30px
				font-weight: bold
.block_3
	color: $text
	.block_3_item_1
		background-color: #f9f9fa
		margin-top: 30px
	.container
		display: flex
		div
			width: 50%
			padding: 60px 0
		h2
			font-size: 60px
		p
			margin-top: 30px
.block_4
	background: url(../img/background2.png) no-repeat
	background-size: 100% 100%
	height: 400px
	color: $light
	.slider
		&-item
			padding: 100px 0
			text-align: center
			img
				margin: 0 auto
			p:nth-child(2)
				font-size: 30px
				margin-top: 20px
				span
					color: $color
			p:nth-child(3)
				margin-top: 18px
				text-align: center
				color: $text
.block_5
	background-color: #f9f9fa
	color: $text
	.container
		text-align: center
	.services
		display: grid
		grid-template-columns: 1fr 1fr
		grid-template-rows: 2
		text-align: left
		padding: 80px 0 50px 0
		&_item
			display: flex
			div:first-child
				width: 70px
				min-width: 70px
				height: 70px
				background-color: $light
				border-radius: 50%
				display: flex
				justify-content: center
				align-items: center
			div
				margin-right: 30px
			h3
				font-size: 60px
			p
				margin: 20px 0 40px 0
.block_6
	color: $text
	.container
		text-align: center
	.members
		margin-top: 50px
		display: grid
		grid-template-columns: repeat(5, 1fr)
		grid-template-rows: 2
		&_item
			display: flex
			align-items: center
			justify-content: center
			color: $light
			height: 200px
			&:nth-child(2n-1)
				background-color: #e4e4e4
			&:nth-child(2), &:nth-child(4)
				background-color: #f9f9fa
			&:nth-child(6), &:nth-child(8), &:nth-child(10)
				background-color: #efefef
			&:nth-child(7)
				background-color: $color
			p
				font-size: 36px
.block_7
	color: $text
	background-color: #f9f9fa
	padding-bottom: 50px
	.price
		display: flex
		justify-content: space-between
		margin-top: 50px
		&_item
			background-color: $light
			width: 22%
			&_header
				padding: 20px
				border-bottom: 1px solid lightgrey
				p:first-child
					color: $color
					font-size: 30px
				p:last-child
					color: lightgrey
			&_description
				padding: 20px
				line-height: 1.5
			button
				width: 100%
				height: 45px
				border-radius: 0px
				border: none
				background-color: $color
				font-size: 15px
				font-weight: bold
				letter-spacing: 0.2em
				text-transform: uppercase
				text-align: left
				padding: 15px
				display: flex
				justify-content: space-between
				color: $light
.block_8
	display: flex
	color: $text
	div
		width: 50%
		padding: 70px 0
	.map_description
		margin-left: 10%
		h3
			font-size: 50px
		p
			margin-top: 50px
	.map
		img
			width: 100%
.block_9
	background: url(../img/background3.png) no-repeat
	background-size: 100% 100%
	height: 500px
	color: $light
	.container
		padding-top: 200px
		text-align: center
		h1
			font-size: 50px
			font-weight: normal
.block_10
	background: url(../img/letter.png) no-repeat
	background-size: auto 400px
	background-position: top
	height: 500px
	color: $text
	.header
		padding-top: 30px
		display: flex
		align-items: center
		justify-content: space-between
		div
			display: flex
			align-items: center
			p
				margin-left: 10px
		.menu
			ul 
				list-style: none
				display: flex
				align-items: center
				justify-content: center
				li
					margin-right: 25px
					color: lightgrey
					font-size: 18px
					&:first-child
						color: $text
						font-weight: bold
					a
						color: $light
						font-size: 11px
